In [1]:
import sys
sys.path.append('../src')

from Education_Import import Education_perGDP

df_Education_perGDP = Education_perGDP(
    '../data/raw/Education_per GDP.csv',
    '../data/processed/Education_perGDP_clean.csv'
)

df_Education_perGDP.head()

   Country ISO3  Year  Education_perGDP
0  Andorra  AND  2000               NaN
1  Andorra  AND  2001               NaN
2  Andorra  AND  2002           1.65971
3  Andorra  AND  2003               NaN
4  Andorra  AND  2004           1.54412