In [8]:
import sys
sys.path.append('../src')

from clean_health_data import clean_health_data

df_health = clean_health_data(
    '../data/raw/health_expenditure_raw.csv',
    '../data/processed/health_expenditure_long.csv'
)

df_health.head()

   Country ISO3  Year  Health_Expenditure
0  Andorra  AND  2000            5.952764
1  Andorra  AND  2001            5.858237
2  Andorra  AND  2002            5.996212
3  Andorra  AND  2003            5.547715
4  Andorra  AND  2004            5.288469