In [1]:
import sys
sys.path.append('../src')

from GDP_Import import GDP_percapita

df_GDP_percapita = GDP_percapita(
    '../data/raw/GDP_percapita.csv',
    '../data/processed/GDP_percapita_clean.csv'
)

df_GDP_percapita.head()

   Country ISO3  Year  GDP_percapita
0  Andorra  AND  2000   21810.248743
1  Andorra  AND  2001   23511.295148
2  Andorra  AND  2002   26528.130158
3  Andorra  AND  2003   34063.578403
4  Andorra  AND  2004   39021.127810